@model CreateProductModel;
<h1>Create New Product</h1>

<form class="row g-3" method="post" enctype="multipart/form-data" asp-action="Create">
    <div class="col-md-12">
        <label asp-for=Name class="form-label">Name</label>
        <input asp-for=Name type="text" class="form-control" placeholder="Enter name">
        <span asp-validation-for="Name" class="form-text text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for=Price class="form-label">Price</label>
        <input asp-for=Price type="number" min="0" class="form-control" placeholder="Enter price ($)">
        <span asp-validation-for="Price" class="form-text text-danger"></span>
    </div>
    <div class="col-md-2">
        <label asp-for=Discount class="form-label">Discount</label>
        <input asp-for=Discount type="number" min="0" class="form-control" placeholder="Enter discount (%)">
        <span asp-validation-for="Discount" class="form-text text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for=CategoryId class="form-label">State</label>
        <select asp-for=CategoryId asp-items=ViewBag.Categories class="form-select">
            <option disabled selected>Choose...</option>
        </select>
    </div>
    <div class="col-12">
        <label asp-for=Image class="form-label">Image URL</label>
        <input asp-for=Image type="file" class="form-control" placeholder="Enter image URL">
        <span asp-validation-for="Image" class="form-text text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for=Description class="form-label">Description</label>
        <textarea id="description-input" asp-for=Description class="form-control" rows="3" placeholder="Enter description"></textarea>
        <span asp-validation-for="Description" class="form-text text-danger"></span>
    </div>

    <div class="col-12">
        <div class="form-check">
            <input asp-for=InStock checked class="form-check-input" type="checkbox">
            <label asp-for=InStock class="form-check-label">
                In Stock
            </label>
        </div>
    </div>

    <div class="col-md-6">
        <a asp-action="Index" class="btn btn-dark w-100">Back</a>
    </div>
    <div class="col-md-6">
        <button type="submit" class="btn btn-success w-100">Create New Product</button>
    </div>
</form>

@section Scripts {
    <partial name="_FroalaEditorPartial.cshtml" model='new { Selector = "#description-input"}' />
}