@model List<ProductDto>;

<div class="text-center">
    <h1 class="display-4 mb-4">Welcome to BlablaShop <i class="bi bi-bag-heart-fill"></i></h1>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        @foreach (var i in Model)
        {
            <div class="col">
                <partial name="_ProductCardPartial" model="@i" />
            </div>
        }
    </div>
</div>

@* Razor Syntax: @{ code } if for switch ... *@
@* <div class="text-center">
    @if(DateTime.Now.Minute % 2 == 0)
    {
        <p>Minute is even!</p>
    }
    else
    {
        <p>Minute is odd!</p>
    }

    @for(int i = 0; i < 7; ++i)
    {
        <img width="100" src="https://media.licdn.com/dms/image/C4E12AQGjd1UZI__MZw/article-cover_image-shrink_600_2000/0/1520161860171?e=2147483647&v=beta&t=jaE_o4TZKY80rPrT_wfY5--OzWwYVpEI_tP2qDCuICU" />
    }
</div> *@
