html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.details-card .card-header {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    align-items: center;
}

.details-card .image-block {
    margin: 16px;
}
.details-card img {
    max-width: 330px;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.home-card img {
    height: 200px;
    object-fit: contain;
    padding: 8px;
    border-radius: 8px;
}

.home-card .card-title a {
    color: black;
    text-decoration: none;
}
.home-card .card-title a:hover {
    color: darkgray;
    text-decoration: underline;
}

.zoom {
    transition: .2s;
}
.zoom:hover {
    transform: scale(3.2);
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}